<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wristband.yt_b_4.wristbandclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:banner="@color/cardview_dark_background"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_User"/>
        <activity android:name=".CoHost"/>
        <activity android:name=".Create_Party"/>
        <activity android:name=".Create_Profile"/>
        <activity android:name=".examples.exampleActivity"/>
        <activity android:name=".HomeScreen"  android:noHistory="true"/>
        <activity android:name=".GuestScreen"/>
        <activity android:name=".LoginProfile" android:noHistory="true"/>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>